# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store

# IDE settings
.vscode/
.idea/

# Model artifacts
models/

# Data and outputs
*.png
outputs/

# TensorFlow / Keras
.checkpoints/
